<ion-content>
  @if (movie.id !== -1) {
  <div class="ion-display-flex content-breakpoint">
    <ion-card class="ion-display-flex overview-breakpoint">
      <img [src]="`https://image.tmdb.org/t/p/w500${movie.poster}`" />
      <div>
        <ion-card-header>
          <ion-card-title>{{movie.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content
          class="ion-display-flex ion-flex-column ion-flex-1 ion-justify-content-between"
        >
          <p class="ion-padding-bottom">{{movie.overview}}</p>
          <app-favourite-button
            [btnType]="'full'"
            [movie]="movie"
          ></app-favourite-button>
        </ion-card-content>
      </div>
    </ion-card>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Cast</ion-label>
        </ion-item>
        <ion-grid slot="content">
          <ion-row class="ion-align-items-stretch">
            @for (cast of movieCast; track $index) {
            <ion-col
              size="12"
              size-lg="6"
              size-xl="4"
              class="ion-align-content-center"
            >
              <app-short-person-card
                [id]="cast.id"
                [name]="cast.castName"
                [role]="cast.role"
                [profile]="cast.profile"
              ></app-short-person-card>
            </ion-col>
            }
          </ion-row>
        </ion-grid>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Crew</ion-label>
        </ion-item>
        <ion-grid slot="content">
          <ion-row class="ion-align-items-stretch">
            @for (crew of movieCrew; track $index) {
            <ion-col
              size="12"
              size-lg="6"
              size-xl="4"
              class="ion-align-content-center"
            >
              <app-short-person-card
                [id]="crew.id"
                [name]="crew.crewName"
                [role]="crew.job"
                [profile]="crew.profile"
              ></app-short-person-card>
            </ion-col>
            }
          </ion-row>
        </ion-grid>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  }
</ion-content>
