<ion-content>
  <div class="ion-margin-horizontal ion-margin-top">
    <ion-searchbar
      (ionInput)="handleSearch($event)"
      debounce="500"
    ></ion-searchbar>
  </div>
  <ion-grid>
    @switch (true) { @case (movies !== null) {
    <h1 class="ion-margin-horizontal">
      {{ searched === '' ? 'Today\'s Trending ' : `Showing "${searched}"` }}
      Movies
    </h1>
    } @default {
    <h1 class="ion-margin-horizontal">No matching movies</h1>
    <ion-button class="ion-padding-horizontal" (click)="getTrending()">
      Show Trending Movies
    </ion-button>
    } }

    <ion-row class="ion-align-items-stretch ion-margin-horizontal">
      @for (movie of movies; track $index) {
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <app-movie-card
          [id]="movie.id"
          [title]="movie.title"
          [releaseDate]="movie.releaseDate"
          [overview]="movie.overview"
          [poster]="movie.poster"
        ></app-movie-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
